* {
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
}
.course-title {
    display: block;
    text-align: center;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: blue;
    color: rgb(53, 247, 53);
}
.navigation {
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(53, 247, 53);
}

nav a:hover {
    text-decoration: line-through;
    color: black;
}
.active {
    color: white;
}
.cards {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr;
    width: 100%;

}
.card {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: blue;
    color: rgb(53, 247, 53);
}