body {
    background-color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: cyan;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    margin-top: 2rem;
    font-size: x-large;
    color: black;
}

nav a:hover {
    color: white;
    text-shadow: 0 0 20px black;
    text-decoration: line-through;
}

.figures {
    background-color: cyan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 5px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background-color: cyan;
    padding: 5px;
    color: black;
}

figure {
    text-align: center;
    margin: 0;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: black;
}

img {
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

footer {
    display: block;
    background-color: cyan;
    text-align: center;
    font-size: x-large;
    color: black;
}

#hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    position: relative;
    margin-top: 1rem;
    margin-right: 1rem;
}

@media (max-width: 600px) {
    #hamburger {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        background-color: cyan;
        padding: 1rem;
    }

    nav.active {
        display: flex;
    }
}

.temple-card {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em;
    max-width: 400px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.temple-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}